:root {
    --pri: #E3E3E3;
    --sec: #1B3C53;
    --tri1: #234C6A;
    --tri2: #456882;
}

@font-face {
    font-family: aeonik1;
    font-weight: 500;
    src: url(TRYLisztFY-BookItalic.ttf);
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(TRYLisztFY-Book.ttf);
}

@font-face {
    font-family: aeonik2;
    font-weight: 700;
    src: url(TRYLisztFY-Black.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--pri);
    // font-family: aeonik;

}

html,
body {
    height: 100%;
    width: 100%;
}

.elem:active {
    scale: .95;
}

.main {
    font-family: aeonik;
    height: 100%;
    width: 100%;
    background-color: var(--sec);

    nav {
        position: fixed;
        width: 100%;
        height: 60px;
        background-color: var(--tri2);
    }

    section.allElems {
        height: 100%;
        width: 100%;
        padding: 40px;
        position: absolute;
        padding-top: 80px;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 40px;

        .elem {
            background-color: var(--tri1);
            height: 300px;
            width: 250px;
            border-radius: 10px;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            transition: all ease .8s;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            h2 {
                right: 5%;
                bottom: 5%;
                font-family: aeonik1;
                position: absolute;
            }
        }
    }

    section.fullElem {
        background-color: var(--sec);
        height: 100%;
        width: 100%;
        display: none;
        position: absolute;

        .back {
            padding: 10px 11px;
            border: none;
            position: absolute;
            background: #aa0404;
            color: var(--pri);
            border-radius: 50%;
            font-size: 30px;
            right: 5%;
            top: 5%;
            transition: all ease 0.98s;
            cursor: pointer;
        }

        .back:active {
            scale: .9;
        }
    }

    section.todo-list-fullpage {
        padding: 15px;

        h2 {
            font-family: aeonik;
            font-size: 40px;
        }

        .todo-container {
            width: 100%;
            height: 80%;
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .addTask {
                border-radius: 10px;
                width: 30%;
                height: 100%;
                background-color: #4d7995;

                form {
                    display: flex;
                    flex-direction: column;
                    padding: 20px;

                    #task-inp {
                        color: black;
                        width: 100%;
                        font-size: 20px;
                        border-radius: 5px;
                        border: none;
                        padding: 10px 12px;
                        background-color: #E3E3E3;
                        margin-bottom: 20px;
                    }

                    textarea {
                        color: black;
                        width: 100%;
                        font-size: 20px;
                        border-radius: 5px;
                        border: none;
                        padding: 10px 12px;
                        background-color: #E3E3E3;
                        margin-bottom: 20px;
                    }

                    button {
                        width: 100%;
                        font-size: 20px;
                        border-radius: 5px;
                        border: none;
                        padding: 10px 12px;
                        background-color: #053657;
                        margin-bottom: 20px;
                        font-weight: 500;
                        transition: all ease .8s;
                    }

                    button:active {
                        scale: .98;
                    }

                    .check-imp {
                        display: flex;
                        ;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 30px;
                        padding: 10px 10px;
                        margin-bottom: 20px;

                        #check {
                            scale: 1.5;
                        }

                        label {
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        .right {
            padding: 10px 12px;
            border-radius: 10px;
            width: 65%;
            height: 100%;
            background-color: #4d7995;

            .diff-tasks {
                background-color: var(--pri);
                width: 100%;
                border-radius: 10px;
                margin-bottom: 8px;
                display: flex;
                justify-content: space-between;
                padding: 12px 16px;
                font-family: aeonik1;

                h3 {
                    color: #053657;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;

                    span {
                        background-color: rgb(211, 5, 5);
                        color: #E3E3E3;
                        font-size: 10px;
                        padding: 3px;
                        border-radius: 50px;
                    }

                    span.true {
                        opacity: 1;
                    }

                    span.false {
                        opacity: 0;
                    }
                }

                button {
                    font-size: 15px;
                    background-color: #053657;
                    border: none;
                    padding: 7px 15px;
                    border-radius: 3px;
                }
            }
        }
    }

    section.daily-planer-fullpage {

        padding: 15px;

        h2 {
            font-family: aeonik;
            font-size: 35px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .daily-palner-box {
            margin-top: 30px;
            padding: 10px 12px;
            width: 100%;
            height: 90%;
            border-radius: 10px;
            background-color: var(--tri2);
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            overflow: auto;

            .daily-planer-timer {

                position: relative;
                display: flex;
                align-items: center;
                background-color: #456882;
                width: 49%;
                margin-bottom: 15px;

                p {
                    font-size: 20px;
                    font-family: aeonik1;
                    color: #053657;
                    position: absolute;
                    top: 5%;
                    left: 1%;
                }

                input {
                    width: 100%;
                    background-color: var(--pri);
                    color: #053657;
                    font-size: 20px;
                    padding: 20px 40px;
                    border: none;
                    border-radius: 5px;
                    padding-top: 26px;
                    // outline: none;

                }
            }
        }

    }

    section.motivation-fullpage {
        display: block;
        position: relative;
         .motvation-fullpage-continer{
            height:100%;
            width:100%;
            display: flex;
            align-items: center;
            justify-content: center;
        .motivation-container {
            height: 400px;
            width: 80%;
           position: relative;
 
            .motivation-wrapper {
                img{
                    position: absolute;
                    width: 70px;
                    height:70px;
                    opacity: 0.4;
                    right:5%;
                    top:10%;
                }
                padding:15px;
                z-index: 10;
                position: absolute;
                height: 100%;
                background-color:var(--tri2);
                border-radius: 30px;
               .motivation-1{
                width:fit-content;
                   padding: 30px;
                   border-radius: 20px;
                   background-color: #1B3C53;
                   h2{
                    font-family: aeonik2;
                    font-size: 30px;
                    font-weight: 500;
                   }
               } 
               .motivation-2{
                margin-top: 15px;
                 padding:10px;
                 h1{
                    font-family: aeonik1;
                    font-size: 40px;
                    font-weight: 500;
                    color:var(--pri);
                 }
               }
               .motivation-3{
                   display: flex;
                   align-items: center;
                   justify-content: flex-end;
                   margin-top: 30px;
                   h2{
                    padding: 30px;
                   border-radius: 20px;
                   width:fit-content;
                   background-color: #1B3C53;
                    font-size: 30px;
                    font-weight: 500;
                    text-align: right;
                   }
               }
            }
        }
    }
        .motivation-container::after{
            content: '';
            height: 100%;
            width: 100%;
            position: absolute;
            background-color: rgba(207, 240, 240, 0.61);
            border-radius: 50px;
            scale: 1.15;
            filter: blur(100px);
            z-index: 8; 
            
        }
    
    }
}